body{
    margin:0;
    font-size:20px;
}
 .flex-contain{
    display:flex;
}
.half-width{
    width:50%;
    padding:90px;
    padding-bottom: 150px;;
}
.banner-pra{
    padding-bottom:17px;
}
  .order-btn{
    text-decoration: none;
    background-image: linear-gradient(yellow,red);
    padding:10px 40px;
    border-radius:10px;
 } 
.half-width img{
    width:95%;
}    
 
h1{
    font-size:50px;
}
.orange{
    color:orange;
}

/**************/
#about-me{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
#My-Recipies {
    text-align: center;
    
}
.Recipies-pra {
    padding-bottom: 50px;
}
 
.food-box{
    box-shadow:10px 10px 40px gray;
    padding:16px 16px;
    margin-left:5%;
    margin-right: 5%;
}
#My-Recipies{
    text-align: center;
    padding:150px 0px;
}
 
 











