body{
    margin:0;
    font-size:20px;
    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Luxurious Roman', cursive;
}
 .flex-contain{
    display:flex;
    padding-bottom:100px;
}
.half-width{
    width:50%;
    padding:90px;
     
}
.banner-bg{
    background-color:darkmagenta;
    clip-path: polygon(0 0, 100% 0%, 100% 63%, 0% 100%);

}
.man-bg img{
    padding-top: 40px;
}
.banner-pra{
    padding-bottom:17px;
}
  .order-btn{
    text-decoration: none;
    background-image: linear-gradient(yellow,red);
    padding:10px 40px;
    border-radius:10px;
 } 
.half-width img{
    width:95%;
}    
 
h1{
    font-size:50px;
}
.orange{
    color:orange;
}

/**************/
#about-me{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
#My-Recipies {
    text-align: center;
    
}
/* .Recipies-pra {
    padding-bottom: 50px;
} */
 
.food-box{
    box-shadow:10px 10px 40px gray;
    padding:16px 16px;
    margin-left:5%;
    margin-right: 5%;
}
#My-Recipies{
    text-align: center;
     
}
/******************/
#social-site{
    display: flex;
    justify-content: space-around;
     margin-left:5%;
     margin-right: 5%;
     box-shadow: 10px 10px 30px gray;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding:10px 0px 30px 0;
    margin-left: 5%;
    margin-right: 5%;
    border:3px solid gray;
}
 
 











